/* The body is the class that acutally creates the way the layout will look. The display:flex; makes what ever goes inside the website display side to side. 100vw means 100% of the viewport width, and the same thing for height.
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
}
// My top row class is a div on the top of my website. The height is 25% of the screen, and The width is 100% of the top half of the screen. Then i se the background to the to toprow div which was green.
.toprow {
    height: 25%;
    width: 100%;
	background-color: #3FE816;
}
// the class center-contnent centers whatver I put the class in. For my website I used center-content on all my images to center them in the middle of the div that they were in.
.center-content {
	display: flex;
    align-items: center;
    justify-content: center;
}
//The class middle row creates the divs in the middle with a height of 50% of the screen and then 100% width of the screen.
.middlerow {
    height: 50%;
    width: 100%;
	background-color: #FF00DE;
}
//The bottom row has a height of 25% of the screen and a width of 100% of the screen with a green background color. This div is the bottom half of the screen.
.botrow{
    height: 25%;
    width: 100%;
	background-color: #3FE816;
}
.center-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
//the ohthird class is the parent of all the other divs so it sets the display to block which makes the divs stack on top of eachother but since the body is flex it goes in collums. It has a height of 100% and the function calc which splits up the divs in three seprate parts.
.othird {
	display: block;
    height: 100%;
    width: calc(100%/3);
}	
//This class restrict the image size. I restrict the image so it perfectly fits the div so nothing is bigger than the div or looks small.
.restrict {
	max-height: 100%;
	max-width: 100%;
}
//the opaque class makes the image not visible since it has an opacity of 0.
.opaque {
	opacity: 0;
}
// Displays nothing when applied.
.none {
	display: none;
}
//The class font is added to my text so I can make the text bigger.
.font {
	font-size: 24;
}
